* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background: black;
}
h2 , h3 {
    color: white;
}
li , p {
    color: white;
}
span{
    color: red;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin-left: 120px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  background:#fff;
  backface-visibility: hidden;
}
.memory-card:active {
   transform: scale(0.97);
   transition: transform .2s;
 }
 .memory-card.flip {
  transform: rotateX(180deg);
}
.front-face {
  transform: rotateX(180deg);
}

.score-panel {
    text-align: left;
    width: 660px;
    margin-bottom: 10px;
}

.score-panel .stars,
.modal .stars
{
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: gold; 
}

.score-panel .stars li,
.modal .stars li
{
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    display: inline-block;
    margin :0 0 0 80px;
    cursor: pointer;
}

.score-panel .timer {
    margin: 0 0 0 50px;
    display: inline-block;
     
    
}

.modal {
    display: none;
    top : 0;
    right : 0;
    bottom : 0;
    left : 0;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    max-width: 360px;
    padding : 40px;
    margin: 5em auto;
    border-radius: 10px;
    background-color: cyan;
    
}

.modal-title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
}

.modal-elements {
    display: inline-block;
    align-items: center;
}

.modal-message {
    font-size: 2em;
    text-align: center;
}
